.input {
    padding: 5px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}

.input:focus {
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(60, 62, 68);
}

.button:hover {
    background-color: rgb(158, 158, 158);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.65;
}