* {
    font-family: Roboto, sans-serif;
    color: white;
}

.wrapper {
    background-color: rgb(32, 35, 41);
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 1400px;
}

.title {
    text-align: center;
}

@media (max-width: 845px) {
    .wrapper {
        width: calc(100vw - 30px);
        margin-top: 15px;
    }
}
