.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 1400px;
}

.title {
    text-align: center;
}

@media (max-width: 845px) {
    .wrapper {
        width: calc(100vw - 30px);
        margin-top: 15px;
    }
}
